html .settings,
html .settings *:before,
html .settings *:after {
  transition: 0.5s ease-in-out;
}

.settings *:before,
.settings *:after {
  z-index: -1;
}

[class^="btn-"] {
  position: relative;
  z-index: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 50px;
  max-width: 250px;
  margin: 1rem auto;
  border: 1px solid;
}

.btn-collision {
  position: relative;
  color: #ffffff;
}

.btn-collision.active {
  color: #000000;
}

.btn-collision.active:before,
.btn-collision.active:after {
  width: 375px;
  height: 375px;
}

.btn-collision:before, .btn-collision:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.btn-collision:before {
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-collision:after {
  right: -20px;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.btn-collision:hover {
  color: #000000;
}

.btn-collision:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
  animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.btn-collision:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
  animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}