@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Poppins:300,400,500');

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.fadeIn {
  -webkit-animation: fadeIn 2s forwards;
  animation: fadeIn 2s forwards;
}

.fadeOut {
  -webkit-animation: fadeOut 1s forwards;
  animation: fadeOut 1s forwards;
}

.settings {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #00000042;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  z-index: 1000;
}

.exit {
  text-align: right;
  font-size: 2.5rem;
}

.fas.fa-times {
  opacity: 0.6;
}

.fas.fa-times:hover {
  opacity: 1;
}

.settings-gear {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  padding: 1.5rem;
  opacity: 0.6;
}

.settings-gear:hover {
  opacity: 1;
}

.fas.fa-plus,
button {
  color: inherit;
}

.mdl-textfield__label {
  color: inherit;
  opacity: 0.6;
}

.container {
  padding: 6rem;
}

.text-center {
  text-align: center;
}

.clock {
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.mdl-textfield {
  width: 17rem;
}

button {
  margin-left: 0rem;
  height: 100%;
  width: .1rem;
  background: transparent;
  border: none;
  font-size: 1rem;
  -webkit-appearance: none;
}

.mdl-textfield__label::after {
  background: #424242;
}

.todo-add {
  margin: 0 auto;
}

.todo-list {
  display: none;
  text-align: left;
  margin: 1rem auto;
  padding: 0.8rem 0.5rem;
  width: 15rem;
  max-height: 15rem;
  background: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  color: #424242;
  overflow: auto;
}

ul {
  list-style-type: none;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
  font-size: 1rem;
}

.footer .logo {
  width: 12rem;
  vertical-align: middle;
  opacity: 0.5;
}

.footer .logo:hover {
  opacity: 1;
}

.todo-area {
  margin-top: 5rem;
}

.list {
  margin: .5rem;
  padding: .5rem;
  font-size: 1.2rem;
}

.list-item {
  margin: 0 0 .5rem 0;
  padding: 0;
}

.label-checkbox {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}

.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}

.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.todo-list {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  outline: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .clock {
    font-size: 10rem;
  }

  .container {
    padding: 12rem 8rem 0 8rem;
  }

  .list {
    font-size: 1.5rem;
  }

  .todo-add,
  .todo-list {
    width: 40rem;
  }

  .mdl-textfield {
    width: 35rem;
  }

  .mdl-textfield__input {
    height: 2rem;
    font-size: 2rem;
  }
  
  .mdl-textfield__label {
    font-size: 2rem;
  }

  button {
    width: 1rem;
    font-size: 2rem;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}